@import url("base.css");

.row {
  background-color: #a9d4ff75;
  color: #000000;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: auto;
}

.barra {
  position: relative;
  margin: auto;
  padding: 20px;
  width: 500px;
}

input {
  font-size: 20px;
}

.botao {
  font-size: 20px;
  width: auto;
  margin-left: 10px;
  border-radius: 30px;
}

.titulo {
  font-size: 40px;
  display: flex;
  margin-left: auto;
}
/* 4K - 3840x2160 */
@media screen and (max-width: 3840px) {
  .barra {
    padding: 20px;
    font-size: 150px;
    width: 1200px;
  }
  input.barra {
    font-size: 100px;
  }
  .row {
    margin-left: -1100px;
    padding: 20px;
    width: 3500px;
    gap: 50px;
  }
  .botao {
    font-size: 100px;
    margin-right: 50px;
  }
  .titulo {
    font-size: 200px;
    margin-left: -100px;
  }
}

@media screen and (max-width: 3840px) {
  .barra {
    padding: 20px;
    font-size: 100px;
    width: 1300px;
  }
  input.barra {
    font-size: 80px;
  }
  .row {
    margin-left: -800px;
    padding: 20px;
    width: 3000px;
    gap: 10px;
  }
  .botao {
    font-size: 100px;
    margin-right: 50px;
  }
  .titulo {
    font-size: 120px;
    margin-left: -800px;
  }
}

@media screen and (max-width: 3040px) {
  .barra {
    padding: 20px;
    font-size: 40px;
    width: 1000px;
  }
  input.barra {
    font-size: 40px;
  }
  .row {
    margin-left: -200px;
    padding: 20px;
    width: 1700px;
    gap: 50px;
  }
  .botao {
    font-size: 60px;
    margin-right: 50px;
  }
  .titulo {
    font-size: 100px;
    margin-left: -100px;
  }
}

@media screen and (max-width: 2500px) {
  .barra {
    padding: 20px;
    font-size: 30px;
    width: 400px;
  }
  input.barra {
    font-size: 20px;
  }
  .row {
    margin-left: 70px;
    padding: 20px;
    width: 1000px;
    gap: 10px;
  }
  .botao {
    font-size: 20px;
    margin-right: 50px;
  }
  .titulo {
    font-size: 50px;
    margin-left: 80px;
  }
}


@media screen and (max-width: 1200px) {
  .barra {
    padding: 20px;
    font-size: 20px;
    width: 300px;
  }
  input.barra {
    font-size: 20px;
  }
  .row {
    margin-left: -40px;
    padding: 20px;
    width: 800px;
    gap: 50px;
  }
  .botao {
    font-size: 40px;
    margin-right: 50px;
  }
  .titulo {
    font-size: 30px;
    margin-left: -20px;
  }
}


@media screen and (max-width: 900px) {
  .barra {
    padding: 20px;
    font-size: 20px;
    width: 300px;
  }
  input.barra {
    font-size: 20px;
  }
  .row {
    margin-left: -500px;
    padding: 20px;
    width: 00px;
    gap: 50px;
  }
  .botao {
    font-size: 40px;
    margin-right: 50px;
  }
  .titulo {
    font-size: 30px;
    margin-left: -20px;
  }
}