/* Importa os ícones do Bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css");

/* Importa as fontes Montserrat e Roboto do Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Define variáveis globais (cores e fontes) */


/* Regra de responsividade para telas menores que 600px */
@media screen and (max-width: 600px) {
  /* Muda a direção das colunas do rodapé para vertical */
  footer .r-linha {
    flex-direction: column; /* Empilha as colunas em vez de deixar lado a lado */
    align-items: center; /* Centraliza os itens no centro */
  }

  /* Ajusta o espaçamento interno das colunas para telas menores */
  footer .r-linha-item {
    padding: 5px; /* Reduz o padding lateral */
  }
}
