/* Importa a fonte de ícones do Bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css");

/* Reseta margens e paddings de todos os elementos e define a caixa de modelo para border-box */
* {
    padding: 0; /* Remove o padding de todos os elementos */
    margin: 0; /* Remove a margem de todos os elementos */
    box-sizing: border-box; /* Define o modelo de caixa como border-box (inclusão de bordas e padding nas dimensões) */
    font-family: Arial, sans-serif; /* Define a fonte padrão para Arial ou qualquer fonte sans-serif */
}
/* Estilos para a classe .dest (provavelmente para alguma seção de destaque) */
.dest {
    height: 300px; /* Define a altura da área como 300px */
    display: flex; /* Utiliza flexbox para o layout */
    justify-content: center; /* Alinha os itens horizontalmente no centro */
    align-items: center; /* Alinha os itens verticalmente no centro */    
    color: rgb(198, 255, 220); /* Define a cor do texto como vermelho */
    font-size: 24px; /* Define o tamanho da fonte como 24px */
    font-weight: bold; /* Define o texto como negrito */
    background-image: url("../images/imagem_bonita_2.png");
    background-repeat:  no-repeat;
    background-position: top;
    background-size: cover;
    text-align: center;
    text-shadow: 1px 3px 10px #b0fffb;
    font-weight: bold; 

}



/* Estilos gerais para o corpo da página */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative; /* Define a posição como relativa para elementos filhos posicionados absolutamente */
    background-color: #ffffff; /* Define o fundo da página como um cinza claro */
    color: #333; /* Define a cor do texto como um tom escuro de cinza */
}

/* Estilos para o cabeçalho */
header {
    background-color: rgb(30, 255, 0); /* Cor de fundo verde */
    color: rgb(0, 0, 0); /* Cor do texto preta */
    text-align: center; /* Centraliza o texto no cabeçalho */
    padding: 20px; /* Adiciona padding interno ao cabeçalho */
}

/* Classe .javs que aplica uma animação contínua chamada 'javs' */
.javs {
    animation: javs 10s infinite alternate; /* Aplica a animação 'javs' em loop contínuo alternado */
}

/* Classe .rural que aplica a mesma animação 'javs' */
.rural {
    position: relative; /* Define a posição como relativa para posicionamento de elementos filhos */
    background-color: #d2ffce; /* Cor de fundo para um tom de verde claro */
}

/* Estilos para a barra de navegação */
nav {
    background-color: #074e00; /* Cor de fundo verde escuro */
    padding: 10px; /* Adiciona padding interno à barra de navegação */
    text-align: center; /* Centraliza o texto na barra de navegação */
}

/* Estilos para os links dentro da navegação */
nav a {
    color: white; /* Cor do texto branca */
    text-decoration: none; /* Remove o sublinhado dos links */
    margin: 0 20px; /* Adiciona um espaçamento entre os links */
    font-weight: bold; /* Define o texto como negrito */
}


/* Estilos para o rodapé da página */
footer {
    background-color: #074e00; /* Cor de fundo verde */
    color: white; /* Cor do texto branca */
    text-align: center; /* Centraliza o texto no rodapé */
    padding: 10px; /* Adiciona padding interno ao rodapé */
    margin-top: 20px; /* Adiciona um espaçamento superior de 20px */
}

/* Estilos para a classe .michel (provavelmente para um elemento posicionado de forma absoluta) */
.michel {
    position: absolute; /* Posiciona o elemento de forma absoluta */
    justify-content: center; /* Centraliza o conteúdo */
    top: 24%; /* Posiciona o elemento a 24% do topo */
    left: 45%; /* Posiciona o elemento a 45% da largura da tela */
    height: 21%; /* Define a altura como 21% */
}

/* Definição da animação 'javs' */
@keyframes javs {
    50% {
        background-color: rgb(255, 214, 161); /* Cor de fundo para um tom de azul claro */
    }
    100% {
        background-color: #d2ffce; /* Cor de fundo para um tom de verde claro */
    }
}
/* Seções do conteúdo */
section {
    padding: 20px;
    margin: 20px 0;    
    /*background: linear-gradient(to rigth, #e1ffe7ed, #cafff9e0);*/
    background: linear-gradient(30deg, #eefff1ed, #eafffde0);
    /*background: radial-gradient(300px, #d0ffd9ed, #d6fffae0);*/
    /*background: conic-gradient(#f00, #0f0, #00f);*/
    border-radius: 5px;
}

section h2{
    text-align: center;
    border-bottom: 2px solid black;
    font-family: var(--font-secundaria);

}

section .msn{
    display: flex;
    gap: 10px;
    align-items: center;
}

section .msn img{
    width: 40%;
    height: auto;
}

section p{
    font-size: 20px;
    font-family: var(--font-secundaria);
}

@media screen and (max-width:992px){
    main{
        width: 100%;
    }
    section .msn{
        flex-direction: column;
    }
    section p,ul{
        text-align: justify;

    }
    section .msn img{
        width: 70%;
        height: auto;
    }
    .dest{
        font-size: 20px;
        text-align: center;
    }

}

@media screen and (max-width:600px){
    .dest{
        height: auto;    
    }

}